"*":
  "autocomplete-plus":
    enableAutoActivation: false
  core:
    packagesWithKeymapsDisabled: [
      "copy-filename"
    ]
    themes: [
      "seti-ui"
      "one-dark-syntax"
    ]
  editor:
    showInvisibles: true
    softWrapHangingIndent: 4
  "exception-reporting":
    userId: "a4d26a75-e99e-b32d-8b9b-8fe598ce241a"
  "find-and-replace":
    openProjectFindResultsInRightPane: true
  linter:
    errorPanelHeight: 114
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
    textOpacity: 0.9
  rspec:
    command: "spring rspec"
  "seti-ui":
    compactView: true
  "terminal-plus":
    core:
      scrollback: 10000
    toggles:
      autoClose: true
      runInsertedText: false
  welcome:
    showOnStartup: false
